@charset "UTF-8";
/*VARIABLES*/
:root {
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/*reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

/* reset hipervínculos */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* hipervinculos dentro de parrafos se comportan igual*/
p a {
  display: inline;
}

/* reset li*/
li {
  list-style-type: none;
}

/*scroll suave*/
html {
  scroll-behavior: smooth;
}

/*Etiquetas de texto*/
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* pseudoelementos de quote */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Tipografía y formulario*/
form, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Tipografía */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  line-height: 1.4em;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 1.7em;
  font-weight: 900;
  text-align: center;
  font-style: var(--tipo-secundaria);
}

p, tr, label, input, button, select {
  font-size: 1em;
  font-style: var(--tipo-principal);
}

th {
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  font-style: var(--tipo-secundaria);
}

label {
  font-weight: 300;
  font-size: 1.1em;
}

html, body {
  overflow: auto;
}

.body-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-page {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-main {
  height: 100%;
  width: 100%;
  background-color: red;
}

.login__display {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "titulo" "imagen" "cuerpo";
  -ms-grid-rows: 5em 1em 1fr 1em 8em;
  grid-template-rows: 5em 1fr 8em;
  gap: 1em;
}

.login__titulo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: titulo;
}

.login > .login__titulo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.login__imagen {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: imagen;
}

.login > .login__imagen {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.login__formulario {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: cuerpo;
}

.login > .login__formulario {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.login__formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formulario__alerta {
  display: block;
  position: absolute;
  bottom: 8em;
  left: 0;
}

.vista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.vista__form {
  height: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "display" "input" "output";
  -ms-grid-rows: 1fr 16.5em 6em;
  grid-template-rows: 1fr 16.5em 6em;
  background-color: white;
}

.vista__form--acciones {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 6em;
  grid-template-rows: 1fr 6em;
}

.body-page {
  background-image: URL("/img/interfaz/background/background-l.jpg");
}

.login {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "titulo" "imagen" "cuerpo";
  -ms-grid-rows: 5em 1em 1fr 1em 8em;
  grid-template-rows: 5em 1fr 8em;
  gap: 1em;
}

.login__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 2em;
  font-weight: 900;
  line-height: 1em;
}

.display--oculto {
  display: none;
}

.display--centrado {
  --width: 20em;
  --height: 40em;
  width: var(--width);
  height: var(--height);
  border-radius: 3em;
  padding: 2em;
  background-color: red;
}
@media screen and (min-width: 1024px) {
  .display--centrado {
    --width: 40em;
    --height: 45em;
  }
}

.display--oculto {
  display: none;
}

/*
    El formulario esta siendo empleado en este proyecto para 
*/
.formulario {
  position: relative;
  background-color: grey;
}

.formulario__input {
  width: 80%;
  height: 2em;
  border-radius: 25em;
  padding: 1em;
  background-color: white;
}

.formulario__boton {
  width: 5em;
  height: 1.5em;
  background-color: white;
}

.formulario__alerta {
  display: none;
  position: absolute;
  left: 0;
  background: black;
}

.formulario__alerta--activo {
  display: block;
}

.grande {
  height: 100%;
}

.output {
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: grey;
}

.output__renglon {
  height: 1em;
}

.output__body {
  overflow: scroll;
}

.output__celda--centrado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*
    *-NECESTIO HACER QUE SALGA UN SCROLL CUANDO SE DESBORDE LA LISTA
    *-NECESITO QUE LOS TR SEAN DEL MISMO TAMAÑO SIEMPRE
*/
.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 0.5em;
  gap: 1em;
}

.input__grupo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

.input__input, .input__select {
  border: 1px solid black;
}

.vista {
  /*Centrada*/
  height: 100%;
  width: 100%;
}

.vista__contenido {
  width: 70%;
  padding: 1em 0.5em;
  background-color: blue;
}

.vista__titulo {
  height: 5%;
  padding: 0.3em;
  margin-bottom: 0.5em;
  background-color: purple;
}

.vista__cuerpo {
  padding: 0.3em;
  height: 91%;
  background-color: brown;
}

.vista__mensaje {
  height: 3%;
  padding: 0.4em;
  margin-bottom: 0.3em;
  font-weight: 600;
  text-align: center;
  color: white;
  background-color: red;
}

.boton {
  width: 300px;
  height: 35px;
  background-color: #1B1C1E;
  color: white;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
}
.boton:hover .boton__span {
  left: 15px;
}
.boton:hover .boton__imagen {
  opacity: 1;
  left: calc(100% - 40px);
}
.boton:hover {
  background-color: #1B1C1E;
  background-color: #1F1F23;
}

.boton--separacion {
  margin-bottom: 0.3em;
}

.boton:hover {
  color: gold;
}

.boton:active {
  color: lightgoldenrodyellow;
}

.boton__span {
  display: inline-block;
  -webkit-transition: 0.4s ease-in-out all;
  transition: 0.4s ease-in-out all;
  -webkit-transition: 0s color;
  transition: 0s color;
  position: absolute;
  font-weight: 600;
  left: 40%;
  opacity: 1;
}

.boton__imagen {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0px;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
}

svg {
  width: 35px;
  height: 35px;
}

.usuario {
  width: 300px;
  height: 100%;
  position: sticky;
  top: 0;
  background-color: #1B1C1E;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 9;
}
.usuario::after {
  content: "";
  height: 100%;
  width: 300px;
  left: -300px;
  top: 0;
  position: absolute;
  z-index: 1;
  background-color: #1F1F23;
  -webkit-transition: 0.1s all;
  transition: 0.1s all;
}
.usuario:hover::after {
  left: 0;
}

.usuario__contenido {
  height: 100%;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;
}
.usuario__contenido * {
  margin-bottom: 0.4em;
}
.usuario__contenido:first-child {
  margin-top: 30%;
}

.usuario__nickname {
  margin-bottom: 50px;
}

.usuario__nickname {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.usuario__imagen {
  width: 75px;
  height: 75px;
  z-index: 0;
}