@charset "UTF-8";
/*VARIABLES*/
:root {
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/*reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

/* reset hipervínculos */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* hipervinculos dentro de parrafos se comportan igual*/
p a {
  display: inline;
}

/* reset li*/
li {
  list-style-type: none;
}

/*scroll suave*/
html {
  scroll-behavior: smooth;
}

/*Etiquetas de texto*/
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* pseudoelementos de quote */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Tipografía y formulario*/
form, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Tipografía */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  line-height: 1.4em;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 1.7em;
  font-weight: 900;
  text-align: center;
  font-style: var(--tipo-secundaria);
}

p, tr, label, input, button, select {
  font-size: 1em;
  font-style: var(--tipo-principal);
}

th {
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  font-style: var(--tipo-secundaria);
}

label {
  font-weight: 300;
  font-size: 1.1em;
}

html, body {
  overflow: auto;
}

.body-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  background-color: #F6F6F6;
}

.body-page {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-main {
  height: 100%;
  width: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 4em 1fr;
  grid-template-rows: 4em 1fr;
  background-color: #F6F6F6;
}

.login__display {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "titulo" "imagen" "cuerpo";
  -ms-grid-rows: 5em 1em 1fr 1em 8em;
  grid-template-rows: 5em 1fr 8em;
  gap: 1em;
}

.login__titulo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: titulo;
}

.login__imagen {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: imagen;
}

.login__formulario {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: cuerpo;
}

.login__formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formulario__alerta {
  display: block;
  position: absolute;
  bottom: 8em;
  left: 0;
}

.vista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.vista__form {
  height: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "display" "input" "output";
  -ms-grid-rows: 1fr 16.5em 6em;
  grid-template-rows: 1fr 16.5em 6em;
  background-color: white;
}

.vista__form--acciones {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 6em;
  grid-template-rows: 1fr 6em;
}

.body-main--estado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.mensaje {
  height: 3em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0.4em;
  position: fixed;
  top: 0;
  font-weight: 600;
  color: white;
}

.mensaje--exito {
  background-color: green;
}

.mensaje--error {
  background-color: red;
}

/*
    El formulario esta siendo empleado en este proyecto para 
*/
.formulario {
  position: relative;
  background-color: grey;
}

.formulario__input {
  width: 80%;
  height: 2em;
  border-radius: 25em;
  padding: 1em;
  background-color: white;
}

.formulario__boton {
  width: 5em;
  height: 1.5em;
  background-color: white;
}

.formulario__alerta {
  display: none;
  position: absolute;
  left: 0;
  background: black;
}

.formulario__alerta--activo {
  display: block;
}

.grande {
  height: 100%;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 0.5em;
  gap: 1em;
}

.input__grupo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

.input__input, .input__select {
  border: 1px solid black;
}

.vista {
  /*Centrada*/
  height: 100%;
  width: 100%;
}

.vista__contenido {
  width: 70%;
  padding: 1em 0.5em;
  background-color: blue;
}

.vista__titulo {
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
  padding: 0.3em;
  margin-bottom: 0.5em;
  background-color: purple;
}

.vista__cuerpo {
  padding: 0.3em;
  height: 91%;
  background-color: brown;
}

.boton {
  border: none;
  width: 200px;
  height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
}

.boton--menu {
  width: 300px;
  height: 35px;
  background-color: #1B1C1E;
  color: white;
}
.boton--menu:hover .boton__span {
  left: 15px;
}
.boton--menu:hover .boton__imagen {
  opacity: 1;
  left: calc(100% - 40px);
}

.boton--separacion {
  margin-bottom: 0.3em;
}

.boton--menu:hover {
  color: gold;
}

.boton--menu:active {
  color: lightgoldenrodyellow;
}

.boton__span {
  display: inline-block;
  -webkit-transition: 0.4s ease-in-out all;
  transition: 0.4s ease-in-out all;
  -webkit-transition: 0s color;
  transition: 0s color;
  position: absolute;
  font-weight: 600;
  left: 40%;
  opacity: 1;
}

.boton__imagen {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0px;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
}

svg {
  width: 35px;
  height: 35px;
}

.eliminar {
  font-size: 0px;
  width: 24px;
  height: 24px;
  background-image: url("../../img/interfaz/boton/delete24px.png");
}

.modificar {
  font-size: 0px;
  width: 24px;
  height: 24px;
  background-image: url("../../img/interfaz/boton/update24px.png");
}

.aceptar {
  font-size: 0px;
  width: 24px;
  height: 24px;
  background-image: url("../../img/interfaz/boton/si24px.png");
}

.cancelar {
  font-size: 0px;
  width: 24px;
  height: 24px;
  background-image: url("../../img/interfaz/boton/no24px.png");
}

.ocultar {
  display: none;
}

.usuario {
  width: 300px;
  height: 100vh;
  color: white;
  position: sticky;
  top: 0;
  background-color: #1B1C1E;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 9;
}
.usuario::after {
  content: "";
  height: 100%;
  width: 300px;
  left: -300px;
  top: 0;
  position: absolute;
  z-index: 1;
  background-color: #1F1F23;
  -webkit-transition: 0.1s all;
  transition: 0.1s all;
}
.usuario:hover::after {
  left: 0;
}

.usuario__contenido {
  height: 100%;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50%;
  position: relative;
  z-index: 10;
}
.usuario__contenido * {
  margin-bottom: 0.4em;
}

.usuario__nickname {
  margin-bottom: 50px;
}

.usuario__nickname {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.usuario__imagen {
  width: 75px;
  height: 75px;
  z-index: 0;
}

.login__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 2em;
  font-weight: 900;
  line-height: 1em;
}

.login__contenido {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20em 1fr 1fr;
  grid-template-rows: 20em 1fr 1fr;
}

.display--oculto {
  display: none;
}

.login__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.login__item * {
  margin-bottom: 1em;
}

.login__img {
  width: 80%;
  margin: auto;
  margin-bottom: 1em;
}

.login__saludo {
  margin: auto 0;
}

.login__titulo {
  font-size: 1.2em;
}

.login__contenido {
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 1fr;
  grid-template-rows: 50% 1fr;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.login__contenido > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.login__contenido > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background-color: #dfe3f6;
  margin-bottom: 1.3em;
}

.contenido__bloque {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
}

.contenido__titulo {
  margin-bottom: 1.5em;
}

.display--centrado {
  --width: 20em;
  --height: 40em;
  width: var(--width);
  height: var(--height);
  border-radius: 3em;
  padding: 2em;
  background-color: red;
}
@media screen and (min-width: 1024px) {
  .display--centrado {
    --width: 40em;
    --height: 45em;
  }
}

.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.display--oculto {
  display: none;
}

.desplegable {
  position: relative;
  width: 150px;
  background-color: blue;
}

.desplegable__item {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 150px;
  display: none;
  background-color: red;
}

.desplegable__item--mostrar {
  display: block;
}

.popOver {
  position: relative;
  overflow-wrap: normal;
}
.popOver:hover .popOver__contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.popOver__contenido {
  position: absolute;
  top: 0;
  left: 6em;
  padding: 0em 0.5em;
  display: none;
  background-color: grey;
  border-radius: 1em;
}

.popOver__informacion {
  font-weight: 600;
  margin: auto;
}

.tabla {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.tabla__col .tabla__td {
  padding: 0.3em;
}

.tabla__th {
  font-weight: 900;
  text-align: left;
}

.tabla__td--deuda {
  color: red;
}

.output {
  width: 90%;
  height: 500px;
  table-layout: fixed;
  border-collapse: collapse;
  border: 3px solid purple;
  overflow: scroll;
  overflow-x: hidden;
}

.output__table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.output__table td, .output__table th {
  padding: 5px;
}
.output__table tr, .output__table col, .output__table th {
  border: 3px solid purple;
}
.output__table tr {
  border-left: 0px hidden;
}

.output__renglon {
  height: 1em;
}

.output__celda--centrado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.output__col--seleccion, .output__col--clase {
  width: 8em;
}

.output__col--fechaNacimiento {
  width: 10em;
}

.output__deuda {
  background-color: red;
}

.output__celda--modificar {
  display: inline-block;
}

.output__celda {
  position: relative;
}

.modificable {
  position: absolute;
  top: 0;
}