@charset "UTF-8";
/*VARIABLES*/
:root {
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/*reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

/* reset hipervínculos */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* hipervinculos dentro de parrafos se comportan igual*/
p a {
  display: inline;
}

/* reset li*/
li {
  list-style-type: none;
}

/*scroll suave*/
html {
  scroll-behavior: smooth;
}

/*Etiquetas de texto*/
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* pseudoelementos de quote */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Tipografía y formulario*/
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Tipografía */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  line-height: 1.4em;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 1.7em;
  font-weight: 900;
  text-align: center;
  font-style: var(--tipo-secundaria);
}

p, tr, label, input, button, select {
  font-size: 1em;
  font-style: var(--tipo-principal);
}

th {
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  font-style: var(--tipo-secundaria);
}

label {
  font-weight: 300;
  font-size: 1.1em;
}

.body-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "titulo" "imagen" "cuerpo";
  -ms-grid-rows: 5em 1em 1fr 1em 8em;
  grid-template-rows: 5em 1fr 8em;
  gap: 1em;
}

.login__titulo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: titulo;
}

.login__imagen {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: imagen;
}

.login__formulario {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: cuerpo;
}

.login__formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formulario__alerta {
  display: block;
  position: absolute;
  bottom: 8em;
  left: 0;
}

.vista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.vista__form {
  height: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "display" "input" "output";
  -ms-grid-rows: 1fr 15em 5em;
  grid-template-rows: 1fr 15em 5em;
  background-color: white;
}

.login {
  --width: 20em;
  --height: 40em;
  width: var(--width);
  height: var(--height);
  border-radius: 3em;
  padding: 2em;
  background-color: red;
}
@media screen and (min-width: 1024px) {
  .login {
    --width: 40em;
    --height: 45em;
  }
}

.login__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 2em;
  font-weight: 900;
  line-height: 1em;
}

/*
    El formulario esta siendo empleado en este proyecto para 
*/
.formulario {
  position: relative;
  background-color: grey;
}

.formulario__input {
  width: 80%;
  height: 2em;
  border-radius: 25em;
  padding: 1em;
  background-color: white;
}

.formulario__boton {
  width: 5em;
  height: 1.5em;
  background-color: white;
}

.formulario__alerta {
  display: none;
  position: absolute;
  left: 0;
  background: black;
}

.formulario__alerta--activo {
  display: block;
}

.grande {
  height: 100%;
}

.output {
  width: 100%;
  height: 100%;
  background-color: grey;
}

.vista {
  /*Centrada*/
  height: 100%;
  width: 100%;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.vista__contenido {
  width: 70%;
  padding: 1em 0.5em;
  background-color: blue;
}

.vista__titulo {
  height: 5%;
  padding: 0.3em;
  margin-bottom: 0.5em;
  background-color: purple;
}

.vista__cuerpo {
  padding: 0.3em;
  height: 91%;
  background-color: brown;
}

.vista__mensaje {
  height: 3%;
  padding: 0.4em;
  margin-bottom: 0.3em;
  font-weight: 600;
  text-align: center;
  color: white;
  background-color: red;
}