@charset "UTF-8";
/*VARIABLES*/
:root {
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/*reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

/* Imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;

  -o-object-fit: cover;
     object-fit: cover;

  -o-object-position: center center;
     object-position: center center;
}

/* reset hipervínculos */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
/* hipervinculos dentro de parrafos se comportan igual*/
p a {
  display: inline;
}

/* reset li*/
li {
  list-style-type: none;
}

/*scroll suave*/
html {
  scroll-behavior: smooth;
}

/*Etiquetas de texto*/
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* pseudoelementos de quote */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Tipografía y formulario*/
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

 /* SVG */
 svg {
   width: 100%;
   display: block;
   fill: currentColor;
 }

/* Tipografía */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);  line-height: 1.4em;
  
   -webkit-hyphens: auto;
       -ms-hyphens: auto;
           hyphens: auto;
 
    font-smooth: always;
 
    -webkit-font-smoothing: antialiased;
 
    -moz-osx-font-smoothing: grayscale;
}

// h2 {
//   font-size: 2em;
//   text-align: center;
// }