//Aca se hará todo el css relacionado con el posicionamiento

//login
.body-login {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #F6F6F6;
}

.body-page {
   height: 100vh;

   display: flex;
}

.body-main {
    height: 100%;
    width: 100%;
    position: relative;

    display: grid;
    grid-template-rows: 4em 1fr;

    background-color: #F6F6F6;
}

$login-row: (
        "titulo"      : 5em,
        "imagen"      : 1fr,
        "cuerpo"      : 8em
    );

.login__display {
    display: grid;
    grid-template-areas: 
                'titulo'
                'imagen'
                'cuerpo';
    grid-template-rows: 
                map-get($login-row, "titulo")
                map-get($login-row, "imagen")
                map-get($login-row, "cuerpo");
    gap: 1em;
}

.login__titulo {
    grid-area: titulo;
}

.login__imagen {
    grid-area: imagen;
}

.login__formulario {
    grid-area: cuerpo;
}

.login__formulario {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.formulario__alerta {
    display: block;
    position: absolute;

    bottom: map-get($login-row, "cuerpo");
    left: 0;
}

.vista {
    display: flex;
    flex-flow: column nowrap;
}


.vista__form {
    height: 100%;

    display: grid;
    grid-template-areas: 
                'display'
                'input'
                'output';
    grid-template-rows: 
                1fr
                16.5em
                6em;
    background-color: white;
}

.vista__form--acciones {
    display: grid;
    grid-template-rows: 
                1fr
                6em;
}