//Aca se hará todo el css relacionado con el posicionamiento

//login
.body-login {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

$login-row: (
        "titulo"      : 5em,
        "imagen"      : 1fr,
        "cuerpo"      : 8em
    );

.login {
    display: grid;
    grid-template-areas: 
                'titulo'
                'imagen'
                'cuerpo';
    grid-template-rows: 
                map-get($login-row, "titulo")
                map-get($login-row, "imagen")
                map-get($login-row, "cuerpo");
    gap: 1em;
}

.login__titulo {
    grid-area: titulo;
}

.login__imagen {
    grid-area: imagen;
}

.login__formulario {
    grid-area: cuerpo;
}

.login__formulario {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.formulario__alerta {
    display: block;
    position: absolute;

    bottom: map-get($login-row, "cuerpo");
    left: 0;
}

.consulta {
    // display: grid;
    // grid-template-areas: 
    //                 'header'
    //                 'output'
    //                 'input';
    // grid-template-rows: 
    //                 5em
    //                 1fr
    //                 0.5fr;
    display: flex;
    flex-flow: column nowrap;
}

