//Aca se hará todo el css relacionado con el posicionamiento

//login
.body-login {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.login {
    display: grid;
    grid-template-areas: 
                'titulo'
                'imagen'
                'cuerpo';
    grid-template-rows: 
                5em
                1fr
                8em;
    gap: 1em;
}

.login__titulo {
    grid-area: titulo;
}

.login__imagen {
    grid-area: imagen;
}

.login__formulario {
    grid-area: cuerpo;
}

.login__formulario {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}