@import '__base.scss';
@import '__layout.scss';
@import '__componentes.scss';

h2 {
    margin-bottom: 1em;
    margin-top: .5em;
    color: black;
}

.negrita {
    color: #2691d9;
}

.modificable {
    width: 100px;
}

.output__celda input {
    margin-top: 0;
    margin-bottom: 0;
}

.output__celda span{
    margin-top: 0;
    margin-bottom: 0;
}

.output__celda div {
    margin-top: 0;
    margin-bottom: 0;
}

.output__celda {
    padding: 0;
}

.output__table tr {
    height: 100px;
}

.output__table .tr--total {
    height: 1em;
}

.output__table thead tr {
    height: auto;
}

.tbody tr {
    height: 100px;
}

.subBloque {
    background-color: white;
}

.contenido-login div {
    margin-bottom: 0;
}

.corregir {
    width: 100%;
}

#botonRegistrar {
    left: 37.5%;
}

.margin--top {
    margin-top: 1em;
}


.subBloque {
    background-color: white !important;
}

main {
    color: black !important;
}

p {
    color: black !important;
}

.bloque li {
    color: black !important;
}

.bloque {
    width: 100%;
}

.titulo--bienvenida {
    margin-top: 1em;
    font-size: 1.8em;
    font-weight: 900;
}

.titulo--bienvenida:first-child {
    margin-top: 0;
    transition: 0.3s;
}


// body {
//     background-color: inherit !important;
// }

.bloque {
    background-color: #1170A8;
}

.div--seleccionado:hover .titulo--bienvenida {
    color: #CDA434;
}

.div--seleccionado:hover thead th {
    color: #CDA434 !important;
}

.div--seleccionado:hover .formu--titulo:first {
    border-bottom: 1px solid yellow;
}

// .body-login {
//     background-color: inherit !important;
// }

.titulo--bienvenida {
    font-size: 2 !important;
}

ol {
    padding-left: 2em;
    margin-top: 1em;
    li {
        list-style-type: decimal !important;
    }
}

.contenido-login {
    p, li {
        font-size: 1.3em;
    }
}

.formu-mediano {
    width: 70%;
    padding: 1em;
}

.formu-chikito {
    width: 60%;
    padding: 1em;
    padding-top: 0;
    padding-bottom: 0;

    a, #masEstudiantes {
        width: calc(100% + 2em);
    }
}


img {
    border-radius: 4em;
}

.ultimo {
    background-color: white;
    border-radius: 2em;
    border: solid 0.4em #1170A8;

    td, col {
        border: solid 1px #1170A8;;
    }
}

table {
    td {
        position: relative;
    }
}

.padding {
    padding: 1em;
    background-color: #1693DB;
    border-radius: 2em;
    color: black;
    margin: 1em;

    td, th {
        font-weight: 600;
        text-align: left;
    }

    td * {
        margin-left: 0.5em;
    }

    thead {
        font-weight: 900;
        font-size: 1.2em;
    }

    table {
        border-radius: 1em;
        border: 2px #179AE8 solid;
    }

    thead {
        border-bottom: 1px #179AE8 solid;
        font-size: 1.3em;
        padding: 1em;
        
        th {
            padding-bottom: 0.5em;
        }
    }

    tbody {
        text-align: center;

        th {
            padding-left:  0.3em;
        }
    }

    .tabla__th {
        font-size: 1.2em;
    }

    .noPadding {
        padding: 0;
    }

    td .modificable, th .modificable{
        width: 100%;
    }
}

#tablaCuenta .padding {
    td, th {
        font-weight: 600;
        text-align: start;
    }
}

.tabla__td--deuda {
    color: #8B0000;
}

.esteno {
    padding: 0;
}