@import '__base.scss';
@import '__layout.scss';
@import '__componentes.scss';

h2 {
    margin-bottom: 1em;
    margin-top: .5em;
    color: black;
}

.negrita {
    color: #2691d9;
}

.modificable {
    width: 100px;
}

.output__celda input {
    margin-top: 0;
    margin-bottom: 0;
}

.output__celda span{
    margin-top: 0;
    margin-bottom: 0;
}

.output__celda div {
    margin-top: 0;
    margin-bottom: 0;
}

.output__celda {
    padding: 0;
}

.output__table tr {
    height: 100px;
}

.output__table .tr--total {
    height: 1em;
}

.output__table thead tr {
    height: auto;
}

.tbody tr {
    height: 100px;
}

.subBloque {
    background-color: white;
}

.contenido-login div {
    margin-bottom: 0;
}

.corregir {
    width: 100%;
}

#botonRegistrar {
    left: 37.5%;
}

.margin--top {
    margin-top: 1em;
}


.body-page {
    background-color: #5A9AC4 !important;
}

body {
    background-color: #5A9AC4 !important;
}

.subBloque {
    background-color: white !important;
}

main {
    background-color: #5A9AC4 !important;
    color: black !important;
}

p {
    color: black !important;
}

.bloque li {
    color: black !important;
}

.bloque {
    width: 100%;
}

.titulo--bienvenida {
    margin-top: 1em;
    font-size: 1.8em;
    font-weight: 900;
}

.titulo--bienvenida:first-child {
    margin-top: 0;
    transition: 0.3s;
}


//FONDOS
.bloque {
    background-color: #BDE1F9;
}

.div--seleccionado:hover .titulo--bienvenida {
    color: #2691d9;
}

.div--seleccionado:hover .formu--titulo {
    border-bottom: 1px solid #2691d9;
}