@import '__base.scss';
@import '__layout.scss';
@import '__componentes.scss';

h2 {
    margin-bottom: 1em;
    margin-top: .5em;
    color: black;
}

.negrita {
    color: #2691d9;
}

.modificable {
    width: 100px;
}

.output__celda input {
    margin-top: 0;
    margin-bottom: 0;
}

.output__celda span{
    margin-top: 0;
    margin-bottom: 0;
}

.output__celda div {
    margin-top: 0;
    margin-bottom: 0;
}

.output__celda {
    padding: 0;
}

.output__table tr {
    height: 100px;
}

.output__table .tr--total {
    height: 1em;
}

.output__table thead tr {
    height: auto;
}

.tbody tr {
    height: 100px;
}

.subBloque {
    background-color: white;
}

.contenido-login div {
    margin-bottom: 0;
}

.corregir {
    width: 100%;
}

#botonRegistrar {
    left: 37.5%;
}