.subBloqueTitulito {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.subBloqueEstudiantes {
    padding: 0;
}

.subBloque {
    background-color: #353538;

    border-radius: 1em;

    color: white;
}


.subBloquecito {
    background-color: #353538;

    border-radius: 1em;

    color: white;
}

.bloque {
    background-color: #1F1F23;;

    border-radius: 1em;

    padding: 1em;
    
    width: 80%;

    margin: auto;
}

.bloqueEstudiante {
    width: (100%*.8)*0.8;
}

.bloque--sub {
    background-color: #353538;
    padding: 0;
}