.subBloqueTitulito {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.subBloqueEstudiantes {
    padding: 0;
}

.bloque {
    background-color: #1F1F23;;

    border-radius: 1em;

    padding: 1em;
    
    width: 80%;

    margin: auto;
}

