$color:#1F1F23;

.boton {
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    cursor: pointer;
    font-weight: 500;

    text-transform: uppercase;
}

.boton--menu {
    width: 300px;
    height: 35px;
    background-color: #1B1C1E;
    color: white;

    &:hover .boton__span {
        left: 15px;
    }

    &:hover .boton__imagen {
        opacity: 1;
        left: calc(100% - 40px);
    }
}

.boton--separacion {
    margin-bottom: 0.3em;
}

.boton--menu:hover {
    color: gold;
}
.boton--menu:active {
    color: lightgoldenrodyellow;
}

.boton__span {
    display: inline-block;
    transition: .4s ease-in-out all;
    transition: 0s color;
    position: absolute;
    font-weight: 600;
    left: 40%;
    opacity: 1;
}

.boton__imagen {
    width: 35px;
    height: 35px;

    display: flex;
    align-items: center;
    position: absolute;

    left: 0px;
    opacity: 0;
    transition: .3s ease-in-out all;
}

svg {
    width: 35px;
    height: 35px;
}