.display--centrado {
    $width: (
        "telefono"  : 20em,
        "pc"        : 40em
    );
    $height: (
        "telefono"  : 40em,
        "pc"        : 45em
    );

    --width: #{map-get($width, "telefono")};
    --height: #{map-get($height, "telefono")};

    @media screen and (min-width : 1024px){
        --width: #{map-get($width, "pc")};
        --height: #{map-get($height, "pc")};
    }

    width: var(--width);
    height: var(--height);

    border-radius: 3em;
    padding: 2em;

    background-color: red;
}

.display {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.display--oculto {
    display: none;
}