.formulario {
    position: relative;

    background-color: grey;
}

.formulario__input {
    width: 80%;
    height: 2em;

    border-radius: 25em;
    padding: 1em;
    background-color: white;
}

.formulario__boton {
    width: 5em;
    height: 1.5em;
    background-color: white;
}

.formulario__alerta {
    display: none;
    position: absolute;
    
    left: 0;
    
    background: black;
}

.formulario__alerta--activo{
    display: block;
}