/*
    El formulario esta siendo empleado en este proyecto para 
*/
.formulario {
    position: relative;

    background-color: grey;
}

.formulario__input {
    width: 80%;
    height: 2em;

    border-radius: 25em;
    padding: 1em;
    background-color: white;
}

.formulario__boton {
    width: 5em;
    height: 1.5em;
    background-color: white;
}

.formulario__alerta {
    display: none;
    position: absolute;
    
    left: 0;
    
    background: black;
}

.formulario__alerta--activo{
    display: block;
}

.grande {
    height: 100%;
}


.formulario__titulo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    font-weight: 900;
    // font-size: 2em;
    text-align: center;
}

.formulario__input--horizontal {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.2em;
}

.formulario__contenedor-botones {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}