#solicitud-ingreso {
    background-color: grey;
}

.datos-usuario {
    background-color: purple;
}

.datos-representante {
    background-color: red;
}

.datos-contacto {
    background-color: black;
}

p, h3, h2 {
    color: white;
}