.interfaz-contenedor {
    height: 100%;
    width: 100%;
}

.interfaz {
    $width: (
        "telefono"  : 25em,
        "pc"        : 45em
    );
    $height: (
        "telefono"  : 20em,
        "pc"        : 25em
    );

    --width: #{map-get($width, "telefono")};
    --height: #{map-get($height, "telefono")};

    @media screen and (min-width : 1024px) {
        --width: #{map-get($width, "pc")};
        --height: #{map-get($height, "pc")};
    }

    width: var(--width);
    height: var(--height);

    padding: 1em;

    & h2 {
       background-color: red;
    }
    & form {
        background-color: blue;
    }
    & .formulario__output {
        background: purple;
    }
    & .formulario__contenedor-botones {
        background-color: yellow;
    }

    background-color: red;
}

.interfaz__titulo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    grid-column: 1 / span 2;
}

.interfaz--main {
    position: relative;
}

.interfaz--hijo {
    position: absolute;
    left: 0;
    height: 0;
}

.interfaz--visible {
    display: block;
}

.interfaz--invisible {
    display: none;
}