.login__titulo {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 2em;
    font-weight: 900;
    line-height: 1em;
}

.login__contenido {
    display: grid;
    grid-template-rows: 20em 1fr 1fr;
}

.display--oculto {
    display: none;
}

.login__item {
    display: flex;
    flex-flow: column nowrap;
    // justify-content: flex-start;
    align-items: center;

    height: 100%;

    * {
        margin-bottom: 1em;
    }
}

.login__img {
    width: 80%;
    margin: auto;
    margin-bottom: 1em;
}

.login__saludo {
    margin: auto 0;
}

.login__titulo {
    font-size: 1.2em;
}

.login__contenido {
    padding: 0;

    display: grid;
    grid-template-rows: 50% 
                        1fr;
    grid-template-columns: 1fr;
}

.marco-deuda .select2-selection__rendered {
    text-align: left;
}