.login__titulo {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 2em;
    font-weight: 900;
    line-height: 1em;
}

.login__contenido {
    display: grid;
    grid-template-rows: 20em 1fr 1fr;
}

.display--oculto {
    display: none;
}

.login__img {
    width: 50%;
    margin: auto;
}

.login__titulo {
    font-size: 1.2em;
}
