.login__display {
    $width: (
        "telefono"  : 20em,
        "pc"        : 40em
    );
    $height: (
        "telefono"  : 40em,
        "pc"        : 45em
    );

    --width: #{map-get($width, "telefono")};
    --height: #{map-get($height, "telefono")};

    @media screen and (min-width : 1024px){
        --width: #{map-get($width, "pc")};
        --height: #{map-get($height, "pc")};
    }

    width: var(--width);
    height: var(--height);

    border-radius: 3em;
    padding: 2em;

    background-color: red;
}

.login__titulo {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 2em;
    font-weight: 900;
    line-height: 1em;
}

.display--oculto {
    display: none;
}