.output {
    display: flex;
    flex-flow: column nowrap;

    background-color: grey;
}

.output__tabla {
    height: 100%;

    border: 1px solid black;
}

.output__celda {
    border: 1px solid black;
}