.popOver {
    position: relative;

    overflow-wrap: normal;

    &:hover .popOver__contenido {
        display: flex;
        flex-flow: column nowrap;
    }
}

.popOver__informacion {
    display: flex;
    justify-content: center;
}

.popOver__contenido {
    position: absolute;
    top: 0;
    left: 6em;

    padding: 0em 0.5em;

    display: none;

    background-color: grey;

    border-radius: 1em;
}

.negrita {
    font-weight: 600;
}

.popOver__elemento {
    width: 100%;
    color: black;
}

.popOver__informacion {
    font-weight: 600;
    margin: auto;
}

.current::before {
    p {
        color: black;
    }

}

.popOver__informacion {
    color: #2691d9;
}

.output__celda input {
    background-color: white;
}