//Variables
$usuarioDesplegado: 300px;
$usuarioOculto: 25px;

.usuario {
    width: $usuarioOculto;
    height: 100%;

    position: sticky;
    top: 0;

    background-color: grey;

    transition: 0.3s;
}

.usuario__contenido {
    margin-left: -$usuarioDesplegado;

    height: 100%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    position: relative;
}

.usuario:hover {
    width: $usuarioDesplegado;

    .usuario__contenido {
        margin-left: 0;
    }
}

.usuario__nickname {
    align-self: center;
}

.usuario__imagen {
    width: 75px;
    height: 75px;

    z-index: 0;
}