.vista {
    /*Centrada*/
    height: 100%;
    width: 100%;
}

.vista__contenido {
    width: 70%;

    padding: 1em 0.5em;
    background-color: blue;
}

.vista__titulo {
    height: 5%;

    padding: 0.3em;

    margin-bottom: 0.5em;

    background-color: purple;
}

.vista__cuerpo {
    padding: 0.3em;

    height: 91%;

    background-color: brown;
}

.mensaje {
    height: 3em;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;

    padding: 0.4em;

    position: absolute;

    font-weight: 600;
    text-align: center;
    color: white;

    background-color: red;
}