.vista {
    /*Centrada*/
    height: 100%;
    width: 100%;
}

.vista__contenido {
    width: 70%;

    padding: 1em 0.5em;
    background-color: blue;
}

.vista__titulo {
    background-color: red;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2em;

    padding: 0.3em;

    margin-bottom: 0.5em;

    background-color: purple;
}

.vista__cuerpo {
    padding: 0.3em;

    height: 91%;

    background-color: brown;
}




//También pondré acá lo del inicio

.mas-informacion {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}


.imagen-login {
    width: 600px;
    margin: auto;
}

.contenido-login {
    padding: 3em;

    h2 {
        text-align:center;
        margin-bottom: 0.6em;
    }

    p {
        text-align: justify;
    }

    img {
        margin-top: 0.6em;
    }

    div {
        margin-bottom: 2em;
    }

    div:last-child {
        margin-bottom: 0;
    }
}

.red-social {
    margin-top: 0;
    width: 32px;
}

.comunicar {
    text-align: initial;
}

.contacto {
    font-weight: 600;
}

.fundadora {
    font-size: 0.7em;
    font-weight: 600;

    text-align: center;
}

span+input {
    margin-left: 1em;
}

.espaciado {
    margin-left: 1em;
}

.subBloqueTitulo {
    padding: 0;
}