.vista {
    /*Centrada*/
    height: 100%;
    width: 100%;
}

.vista__contenido {
    width: 70%;

    padding: 1em 0.5em;
    background-color: blue;
}

.vista__titulo {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2em;

    padding: 0.3em;

    margin-bottom: 0.5em;

    background-color: #1F1F23;
    color: white;
}

.vista__cuerpo {
    padding: 0.3em;

    height: 91%;

    background-color: brown;
}




//También pondré acá lo del inicio

.mas-informacion {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}


.imagen-login {
    width: 600px;
    margin: auto;
}

.contenido-login {
    padding: 3em;

    h2 {
        text-align:center;
        margin-bottom: 0.6em;
    }

    p {
        text-align: justify;
    }

    img {
        margin-top: 0.6em;
    }

    div {
        margin-bottom: 2em;
    }

    div:last-child {
        margin-bottom: 0;
    }
}

.red-social {
    margin-top: 0;
    width: 32px;
}

.comunicar {
    text-align: initial;
}

.contacto {
    font-weight: 600;
}

.fundadora {
    font-size: 0.7em;
    font-weight: 600;

    text-align: center;
}

span+input {
    margin-left: 1em;
}

.espaciado {
    margin-left: 1em;
}

.subBloqueTitulo {
    padding: 0;
}

select, option {
    background-color: white;
}


//DATOS DE DEUDA
.marco-deuda {
    border: solid #2691d9 1px;
    padding: 1em;
    margin-bottom: 1em;
}

#cargar {
    margin: auto;

    display: flex;
    justify-content: center;
    text-align: center;
}

.btn {
    border: 3px solid rgba(100, 100, 100, 0.1);
    margin-bottom: 10px;
    padding: 20px;
    width: 300px;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    background-size: 300%;

    background-image: linear-gradient(to left, #00B7DA, #161569, #00B7DA);

    transition: 0.3s;
}
.btn:hover {
    background-position: right;
}

.formu {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
    width: 100%;
}
.marco-deuda {
    box-sizing: border-box;
}
.formu  input,
.formu select,
.formu textarea {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
.formu label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;

    text-align: 5px;
}
.formu span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2691d9;
}
.formu input:Focus ~ label,
.formu input:Valid ~ label,
.formu input:Disabled ~ label {
    top: -5px;
    color: #2691d9;
}

.formu textarea:Focus ~ label,
.formu textarea:Valid ~ label,
.formu textarea:Disabled ~ label {
    top: -5px;
    color: #2691d9;
}

.formu div ~ label,
.formu div ~ label {
    top: -5px;
    color: #2691d9;
}

.label-excepcion {
    top: -5px !important;
    color: #2691d9 !important;
}

.formu-nacionalidad {
    width: 9em;
}

.formu--titulo {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
    font-size: 1.4em;
}

.ladito {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: calc(100vw - 350px);
}

.ladito .ladito--contenido{
    width: 40%;
}

#nacionalidadInput {
    color: black;
}

input {
    background-color: white;
}

.nacio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloque {
    margin-bottom: 1em !important;
}

.separacion {
    margin-bottom: 1em !important;
}